<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('partials/styles.ejs') %>
    <!-- <title>Forside</title> -->
    <title><%= title%></title>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
        <nav>
            <%- include('partials/nav.ejs') %>
        </nav>
    </header>
    <main>
        <h1>Velkommen til Produktsiden</h1>
        <%- include('partials/offers.ejs') %>
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
    <%- include('../views/partials/scripts.ejs') %>
</body>
</html>